:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;


  color: rgba(255, 255, 255, 0.87);


  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
}

body {
  margin: 0;
  display: flex;
  min-width: 100vw;
  min-height: 100vh;
}

#root {
  margin: 0;
  padding: 3%;
  min-width: 100vw;
  min-height: 100vh;
  background-color: rgba(233, 233, 233, 0.8);
  display: flex;
  justify-content: center;
}

#app {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  text-align: start;
  width: 100%;
  max-width: 1500px;
}

.resume-template {
  flex-grow: 1;
  display: grid;
  grid-template-rows: auto 1fr;
  
}

.header {
  background-color: aqua;
}


